@using WebEmpleados.Models

@model List<E_Empleado>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Consulta</title>
    <!-- Agregando bootstrap -->
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <h1>CRUD Empleados</h1>

        <a href="/Empleado/IrAgregar" class="btn btn-success mb-3">Nuevo Empleado</a>

        <!-- Alerta para errores -->
        @if (TempData["error"] != null)
        {
            <div class="alert alert-danger">
                Ocurrio un error: @TempData["error"]
            </div>
        }

        <table class="table table-bordered table-striped table-warning">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Sueldo</th>
                    <th>Fecha Nacimiento</th>
                    <th>¿Es Tiempo Completo?</th>
                    <th>Edad</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                @foreach (E_Empleado empleado in Model)
                {
                    <tr>
                        <td>@empleado.IdEmpleado</td>
                        <td>@empleado.Nombre</td>
                        <td>@empleado.Sueldo.ToString("c")</td>
                        <td>@empleado.FechaNacimiento.ToString("dd/MM/yyyy")</td>
                        <td>@empleado.TiempoCompletoDescripcion</td>
                        <td>@empleado.Edad</td>
                        <td>
                            <a href="/Empleado/ObtenerParaEditar?idEmpleado=@empleado.IdEmpleado" class="btn btn-danger">Editar</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</body>
</html>
